#include <windows.h>
#include "resources.h"

IDI_ICON ICON "icons/icon.ico"

STRINGTABLE
BEGIN
    IDS_APP_TITLE   "VolWare"
END

IDR_MENU MENU
BEGIN
    POPUP   "&Test"
    BEGIN
        MENUITEM "Open config file",    IDM_CONFIG
        MENUITEM SEPARATOR
        MENUITEM "E&xit",               IDM_EXIT
    END
END
